body {
    margin: 0;
    padding: 0;
    user-select: none;
    color: #e9e9e9;
}

body > div {
    background-attachment: fixed;
    position: fixed;
    top: 0;
}

header {
    width: 98vw;
    text-align: center;
    margin: 1vw auto 0 auto;
    padding: 2vw 0 2vw 0;
    background-color: rgba(255, 255, 255, 0.055);
    border-radius: 0.5vw;
    position: relative;
}

h1 {
    font-weight: lighter;
    margin: 0;
    color: #e9e9e9;
    font-family: 'Signika', sans-serif;
    font-size: 5vw;
}

h3 {
    font-weight: lighter;
    margin: 0;
    color: #c4c4c4;
    font-family: 'Signika', sans-serif;
    font-size: 2vw;
}

h4 {
    font-weight: lighter;
    margin: 1vw;
    color: #e9e9e9;
    font-family: 'Signika', sans-serif;
    font-size: 1.5vw;
    text-align: center;
}

p {
    color: #e9e9e9;
    margin: 1vw;
}

.grid {
    margin: 3vw auto 3vw auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98%;
}

.grid > div {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.055);
    border-radius: 0.5vw;
    margin: auto 3vw auto 3vw;
}

.lang {
    width: 90%;
    background-color: rgb(61, 61, 61);
    border-radius: 1vw;
    margin: 1vw auto 1vw auto;
    text-align: left;
    position: relative;
}

.lang > p {
    font-weight: lighter;
    color: #000000;
    font-family: 'Signika', sans-serif;
    font-size: large;
    padding: 1vw;
    position: relative;
    z-index: 2;
    width: 50%;
}

.lang > pre {
    font-weight: lighter;
    font-family: 'Signika', sans-serif;
    font-size: large;
    color: #979797;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    margin: 0;
    padding: 1vw;
    z-index: 2;
}

.fill {
    position: absolute;
    background-color: rgb(235, 255, 124);
    border-radius: 1vw;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 1;
}

#snakebtn, #snakebtn > img {
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
    width: 1vw;
    height: 1vw;
    opacity: 1;
    cursor: pointer;
}

img:hover {
    transform: translateX(-2px) translateY(-2px);
    transition: all 0.2s;
}

#snake {
    position: absolute;
    top: 25vh;
    left: 15vw; 
    right: 15vw;
    height: 450px;
    z-index: 99;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    margin: auto auto;
    overflow: hidden;
}

@media (max-width: 1000px) {
    .grid {
        display: block;
    }
}